In [11]:
x =10
print(x)
print (x+10)
print('nihao')
print("wodashengshuo 'nihao' hehhe 'nibuhao'")

10
20
nihao
wodashengshuo 'nihao' hehhe 'nibuhao'

In [13]:
x=10
y=20
z=30
total=x+\
y+\
z
print(total)

60

In [23]:
a="abcdefg"
print(a[0])
a[:3]
print(a[:3])
print(a[1:])
print(a[:-1])
print(a[-5:])

a
abc
bcdefg
abcdef
cdefg

In [28]:
list = ['runoob', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']

print(list)  # 输出完整列表
print(list[0])  # 输出列表的第一个元素
print(list[1:3])  # 输出第二个至第三个元素
print(list[2:])  # 输出从第三个开始至列表末尾的所有元素
print(tinylist * 2)  # 输出列表两次
print(list + tinylist)  # 打印组合的列表


#更新列表元素
list[1]=1000
print(list[1])
list[1]="i love you"
print(list)

['runoob', 786, 2.23, 'john', 70.2]
runoob
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['runoob', 786, 2.23, 'john', 70.2, 123, 'john']
1000
['runoob', 'i love you', 2.23, 'john', 70.2]

In [29]:
#元组
tuple =('nihao ',12345,"hello 'world'")
print(tuple[0])

print(tuple)

nihao
('nihao ', 12345, "hello 'world'")

In [1]:
set1={1,24,4,4,4,4}
print(set1)

{24, 1, 4}

In [3]:
set1=set({5,6,9,8,2555})
print(set1)

{5, 6, 8, 9, 2555}

In [12]:
cnt=3
while cnt:
    if(cnt==1):
        print("cnt==1")
    elif(cnt==2):
        print("cnt==2")
    else:
        print("else")
    cnt-=1

else
cnt==2
cnt==1

In [23]:
lt=[5,8,93,4,9,7]
for i in range(len(lt)):
    print(lt[len(lt) -i-1],end=' ')

7 9 4 93 8 5

In [26]:
str="hello world"
if('x' in str):
    print("exist")
else:
    print("not exist")

not exist

In [27]:
set1={"nihao","hello"}
for i  in set1:
    print(i)

nihao
hello